# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

NODE_ENV=development
PORT=3000
ROUTE_PREFIX=""
YOLO_SERVICE_URL="http://localhost:8000"
UPLOAD_TEMP_DIR=/tmp
GOOGLE_CLIENT_ID=
JWT_SECRET=
REFRESH_SECRET=
DATABASE_URL="mysql://username:password@localhost:3306/dbname"
CORS_ORIGINS=https://app.example.com,https://www.example.com
